body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html, body {
	height: 100%
}

a {
    color: #00B7FF;
}
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.push, .footer {
	height: 60px
}

.footer {
	background-color: #f5f5f5;
}